body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    to bottom left,
    rgba(255, 230, 233, 0.7) 0%,
    rgba(231, 251, 255, 0.7) 50%,
    rgba(240, 226, 255, 0.7) 100%
  );
  color: #4b4b4b;
  padding-top: 100px;
}

.community-page {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: transparent;
  border-right: 2px solid rgba(221, 221, 221, 0.5);
  padding: 20px 0px 20px 20px;
  display: flex;
  flex-direction: column;
  width: 360px;
}

.sidebar-courses ul li:hover,
.sidebar-courses ul li.active {
  background-color: #ffffff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.sidebar-courses {
  margin-top: 10px;
}

.sidebar-courses h2 {
  font-weight: 600;
  font-size: 16px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.sidebar-courses h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: 600;
}

.sidebar-courses ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-courses ul li {
  font-size: 14px;
  padding: 10px;
  margin-bottom: 8px;
  margin-right: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.content {
  flex-grow: 1;
  padding: 40px;
  width: 1800px;
  overflow-y: scroll;
}

.content-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.threads {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.thread-card {
  color: rgb(14, 66, 109);
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.thread-card:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.thread-card h3 {
  margin: 0;
  font-size: 24px;
}

.thread-card p {
  margin: 10px 0;
}

.thread-meta {
  display: flex;
  justify-content: space-between;
  color: #999;
  font-size: 0.9em;
}

.thread-tag {
  background-color: #f0f4ff;
  color: #5e72e4;
  padding: 3px 8px;
  border-radius: 10px;
}

.response-section {
  margin-top: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reply {
  display: flex;
  align-items: flex-start;
  background-color: #f0f4ff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.reply-icon {
  margin-right: 10px;
  font-size: 16px;
  color: #5e72e4;
}

.reply-user {
  font-weight: bold;
  margin-right: 5px;
  color: #333;
}

.reply p {
  margin: 0;
}

.response-input {
  width: 100%;
  border-radius: 8px;
}

.response-button {
  align-self: flex-start;
  padding: 0;
  font-size: 14px;
  color: #5e72e4;
}

.right-sidebar {
  width: 500px;
  background-color: transparent;
  border-left: 2px solid rgba(221, 221, 221, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.profile-card {
  text-align: center;
  margin-bottom: 40px;
}

.profile-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-card h3 {
  margin: 0;
  font-size: 1.2em;
}

.profile-card p {
  color: #999;
  margin: 10px 0;
}

.attendees h3 {
  font-weight: 500;
  font-size: 14px;
  color: #999;
  margin-bottom: 20px;
}

.attendees ul {
  font-size: 14px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.attendees ul li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  border-radius: 10px;
}
